@import "tailwindcss";
@tailwind utilities;


@theme {
    --color-off-white:#fcfcfc;
    --color-accent:#00ff41;
    --color-stark-black:#0a0a0a;
    --color-stark-gray:#71717a
}



        @layer base {
            body {
                @apply bg-off-white text-stark-black font-sans antialiased selection:bg-accent selection:text-stark-black;
            }
        }
        .blinking-dot {
            width: 6px;
            height: 6px;
            background-color: theme('colors.accent');
            border-radius: 50%;
            display: inline-block;
            box-shadow: 0 0 8px theme('colors.accent');
        }
        .minimal-card {
            @apply border-b border-black/5 py-12 last:border-0;
        }